# Rename this file to .env
path="."
CONTAINER_NAME="pf"
DOMAIN="<put your domain in here>"
SERVER_NAME="PATHFINDER"
SETUP_USER="<user for the setup page>"
PF_VERSION="v2.0.2-tupsi" #do not touch until you change files and need to rebuild /public
SETUP_PASSWORD="<password for the setup page>"
MYSQL_PASSWORD="<random mysql password>"
# Get your API Key from https://developers.eveonline.com/applications
CCP_SSO_CLIENT_ID=""
CCP_SSO_SECRET_KEY=""
CCP_ESI_SCOPES="esi-location.read_online.v1,esi-location.read_location.v1,esi-location.read_ship_type.v1,esi-ui.write_waypoint.v1,esi-ui.open_window.v1,esi-universe.read_structures.v1,esi-corporations.read_corporation_membership.v1,esi-clones.read_clones.v1"

