[submodule "static/websocket"]
	path = static/websocket
	url = https://github.com/exodus4d/pathfinder_websocket
[submodule "static/pathfinder"]
	path = static/pathfinder
	url = git@github.com:Tupsi/pathfinder.git
