[submodule "static/pathfinder"]
	path = static/pathfinder
	url = https://github.com/exodus4d/pathfinder
[submodule "static/websocket"]
	path = static/websocket
	url = https://github.com/exodus4d/pathfinder_websocket
